// Place all the styles related to the firstpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face{	font-family: 'aquatico';
  src: url('Aquatico-Regular.otf');
}
@font-face{	font-family: 'CafВ FranЗoise';
  src: url('CafВ FranЗoise.otf');}
.topbar {max-height: 80px;
	background-color:white;}
.name {font-family:CafВ FranЗoise;
	color: rgb(248,148,6);
.align{width:90%; height:10%;margin-left:10px;}	
	font-size:40px;
	padding:10px 0px 10px 30px;
	padding-left:50px;}
.sign {border-radius:0px;
	margin-top: 20px;
	padding: 8px 50px;
	box-shadow:0 0px 0px transparent;
	background-color:rgba(242,120,53,.5);
	color: white;
	border: 0px dashed transparent;
	font-size:16px;
	position:inline-block;}
.waste { min-height:40px;}
.pics{margin-left: 30px;}




